/* background color */
/* String color */
.green_text {
  color: #098D09;
}

.error_text {
  color: #ce0606;
  background-color: rgba(61, 27, 27, 0.5568627451);
}

.info_text {
  color: #74b9ff;
  background-color: rgba(0, 204, 255, 0.1529411765);
}

.warn_text {
  color: #b1af00;
  background-color: rgba(242, 255, 59, 0.0666666667);
}

.time_text {
  color: #757575;
}

.user_text {
  color: #668f6d;
}

.row {
  font-size: 15px;
}

.win_text {
  color: #098D09;
  background-color: rgba(0, 128, 0, 0.291);
}

.lose_text {
  color: #ce0606;
  background-color: rgba(42, 0, 0, 0.5568627451);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Consolas;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 255, 255, 0.085);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background-color: aqua;
}

::-webkit-scrollbar-corner {
  background-color: red;
}

.container {
  background-color: #401386;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 5fr 5fr 0.5fr;
  grid-template-areas: "title title title title" "terminal terminal terminal terminal" "terminal terminal terminal terminal" "footer footer footer footer";
}
.container .title {
  grid-area: title;
  justify-self: center;
  align-self: center;
  padding: 5px 10px 5px 10px;
  border: 2px solid #0E7C0E;
  color: #0E7C0E;
}
.container .title span {
  color: #FFFFFF;
}
.container .terminal {
  background-color: #242227;
  grid-area: terminal;
  width: 70%;
  height: 95%;
  border-radius: 5px;
  border: #0D041B 7px solid;
  justify-self: center;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 10fr 10fr;
  grid-template-areas: "input input input input" "tela tela tela tela" "tela tela tela tela";
}
.container .terminal input[type=text] {
  padding: 5px;
  background-color: #242227;
  border: none;
  grid-area: input;
  border-bottom: #0D041B 10px solid;
  color: #757575;
}
.container .terminal #display {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  grid-area: tela;
}
.container .terminal #display p {
  margin-bottom: 3px;
}
.container .terminal #display ::-webkit-scrollbar {
  width: 30px;
}
.container footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
  color: #FFFFFF;
}

@media only screen and (max-width: 1200px) {
  .container .terminal {
    width: 70%;
    height: 95%;
  }
}
@media only screen and (max-width: 600px) {
  .container .terminal {
    width: 90%;
    height: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    background-color: #401386;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 0.5fr;
  }
  .container .terminal {
    width: 100%;
    height: 100%;
  }
  .container .terminal #display p {
    margin-bottom: 10px;
  }

  .row {
    font-size: 12px;
  }
}
@media screen and (min-width: 0px) and (max-width: 900px) and (orientation: landscape) {
  .container {
    background-color: #401386;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 0.5fr;
  }
  .container .terminal {
    width: 100%;
    height: 100%;
  }
  .container .terminal #display p {
    margin-bottom: 10px;
  }

  .row {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
