.green_text{
    color: $text_terminal_color;
}
.error_text{
    color: $text_error_color;
    background-color:  rgba(61, 27, 27, 0.556);
}
.warn_text{
    color: $text_warning_color;
    background-color: rgba(242, 255, 59, 0.065);
}

.time_text{
    color: $text_input_color;
}

.row{
    font-size: 15px;
}

