.green_text{
    color: $text_terminal_color;
}

.error_text{
    color: $text_error_color;
    background-color:  $bg_text_error_color;
}

.info_text{
    color: $text_info_color;
    background-color:  $bg_text_info_color;
}

.warn_text{
    color: $text_warning_color;
    background-color: $bg_text_warning_color;
}

.time_text{
    color: $text_input_color;
}

.user_text{
    color: $text_user_color;
}

.row{
    font-size: 15px;
}

.win_text{
    color: $text_terminal_color;
    background-color: $bg_text_win_color;
}

.lose_text{
    color: $text_error_color;
    background-color: $bg_text_lose_color;
}