/* background color */
$background_body_color: #401386;
$background_terminal_color: #242227;
$border_terminal_color: #0D041B;

/* String color */
$title_terminal_color: #0E7C0E;
$text_input_color: #757575;

$text_terminal_color: #098D09;
$text_error_color: #ce0606;
$text_warning_color:#b1af00;
$text_footer_color:#FFFFFF;
