::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 255, 255, 0.085);
}
::-webkit-scrollbar-thumb{
    width: 5px;
    border-radius: 5px;
    background-color: aqua;
}

::-webkit-scrollbar-corner{
    background-color: red;
}
.container{
    background-color: $background_body_color;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 5fr 5fr 0.5fr;
    grid-template-areas: 
      "title title title title"
      "terminal terminal terminal terminal"
      "terminal terminal terminal terminal"
      "footer footer footer footer";

    .title{
        grid-area: title;
        justify-self: center;
        align-self: center;
        padding: 5px 10px 5px 10px;
        border: 2px solid $title_terminal_color;
        color: $title_terminal_color;
        span{
            color: $text_footer_color;
        }
    }

    .terminal{
        background-color: $background_terminal_color;
        grid-area: terminal;
        width: 70%;
        height: 95%;
        border-radius: 5px;
        border: $border_terminal_color 7px solid;
        justify-self: center;
        align-self: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 10fr 10fr;
        grid-template-areas: 
            "input input input input"
            "tela tela tela tela"
            "tela tela tela tela"
        ;
        
          input[type="text"]{
            padding: 5px;
            background-color:$background_terminal_color;
            border: none;
            grid-area: input;
            border-bottom: $border_terminal_color 10px solid;
            color: $text_input_color;
          }
          #display{
            overflow-x: hidden;
            overflow-y: auto;
            padding: 5px;
            grid-area: tela;
            p{
                margin-bottom: 3px;
            }
            ::-webkit-scrollbar{
                width: 30px;
            }
          }
    }

    footer{
        grid-area: footer;
        justify-self: center;
        align-self: center;
        color: $text_footer_color;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        .terminal{
            width: 70%;
            height: 95%;
        }
    }
}
@media only screen and (max-width: 600px){
    .container{
        .terminal{
            width: 90%;
            height: 100%;
        }
    }
}
@media only screen and (max-width: 425px){
    .container{
        background-color: $background_body_color;
        height: 100vh;
        width: 100vw;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 5fr 5fr 0.5fr;
        .terminal{
            width: 100%;
            height: 100%;
            #display{ 
                p{
                    margin-bottom: 10px;
                }
              }
        }
    }
    .row{
        font-size: 12px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) and (orientation: landscape) {
    .container{
        background-color: $background_body_color;
        height: 100vh;
        width: 100vw;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 5fr 5fr 0.5fr;
        .terminal{
            width: 100%;
            height: 100%;
            #display{ 
                p{
                    margin-bottom: 10px;
                }
              }
        }
    }
    .row{
        font-size: 12px;
    }
  }
 